[Desktop Entry]
Name=Android File Transfer (MTP)
Comment=Transfer files from/to MTP devices
Exec=android-file-transfer
Icon=android-file-transfer
StartupNotify=false
Terminal=false
Type=Application
Categories=Utility;System;FileTools;Filesystem;Qt;
